# Java
*.class
*.jar

# Gradle
.gradle
!gradle-wrapper.jar

# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
.idea
*.iml
*.iws
*.ipr

# OS related
Thumbs.db
.DS_Store

# Built artifacts
out/
build/